:root {
    --bg-color: rgb(248, 249, 250);
    --active-color: #6D3DA9;
    --bg-yellow-border : #FFE69C;
    --bg-yellow : #FFF3CD;
    --bg-blue-border : #004D79;
    --bg-blue : #005B90;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F8F9FA;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.nav-active {
    color: var(--active-color);
}


.border-left-yellow {
    border-left: 4px solid var(--bg-yellow-border);
}

.bg-yellow { 
    background-color: var(--bg-yellow);
}

.border-left-blue {
    border-left: 3px solid var(--);
}

.border-left-green {
    border-left: 4px solid #9ee6c5;
}

.bg-green {
    background-color: #D1E7DD;
}
